.search-bar {
  display: flex;
  gap: 16px;
}

.search-bar-input {
  flex-grow: 1;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 2px;
  color: #fff;
  font-size: 0.9rem;
}

.search-bar-btn {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border: none;
  border-radius: 10px;
  background-color: rgba(189, 189, 189, 0.1);
  padding: 8px;
  color: #fff;
  font-size: 0.9rem;
}
