@import url(minireset.css);

@import url(./styles/app.css);
@import url(./styles/search-bar.css);
@import url(./styles/main.css);
@import url(./styles/loader.css);

@font-face {
  font-style: normal;
  font-weight: normal;
  src:
    url("../assets/fonts/subset-Geist-Regular.woff2") format("woff2"),
    url("../assets/fonts/subset-Geist-Regular.woff") format("woff");
  font-family: "Geist";
  font-display: swap;
}

* {
  font-family: "Geist", system-ui;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/bg.webp);
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}
